<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>企业进销存系统</title>
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <script src="../../layui/layui.all.js"></script>
    <script src="../../module/layTabPlus/layTabPlus.js"></script>
    <script src="../../module/common.js"></script>
</head>
<body>
<table id="demo" lay-filter="demo"></table>
<script type="text/html" id="toolDemo">
    <button id="add" lay-filter="add" class="layui-btn">
        <i class="layui-icon">&#xe608;</i> 添加
    </button>
<!--    <button class="layui-btn" onclick="delete_button()">-->
<!--        <i class="layui-icon">&#xe640;</i> 删除-->
<!--    </button>-->
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="../../js/goods.js"></script>
</body>

</html>
