<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>企业进销存系统</title>
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <script src="../../layui/layui.all.js"></script>
    <script src="../../module/common.js"></script>
    <link rel="stylesheet" href="../../module/formSelects/formSelects-v4.css"/>
</head>
<body>
<div class="layui-fluid" style="padding: 10px">

    <form class="layui-form" id="add_unit">
        <div class="layui-form-item">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-block">
                <input id="id" type="text" name="name" required="" lay-verify="required" placeholder="请输入用户名称"
                       autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input id="name" type="text" name="name" required="" lay-verify="required" placeholder="请输入用户名称"
                       autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input id="password" type="text" name="name" required="" lay-verify="required" placeholder="请输入用户名称"
                       autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="" class="layui-form-label">联系方式</label>
            <div class="layui-input-block">
                <input type="text" id="phone" lay-filter="phone" class="layui-input" placeholder="请输入用户联系方式">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="" class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" id="mail" lay-filter="phone" class="layui-input" placeholder="请输入用户邮箱">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <input class="layui-hide" id="roles">
            <input class="layui-hide" id="roleChange">
            <div class="layui-input-block">
                <select name="city" xm-select="roleSelect"></select>
            </div>
        </div>
        <hr/>
    </form>

</div>
</body>
<script type="text/javascript">
    layui.use(['form', 'jquery', 'formSelects'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var formSelects = layui.formSelects;
        var userRole = new Array();
        $('#id').val(parent.data.id);
        $('#name').val(parent.data.name);
        $('#password').val(parent.data.password);
        $('#phone').val(parent.data.phone);
        $('#mail').val(parent.data.mail);
        $('#description').val(parent.data.description);

        $.ajax({
            url: "/store/role/userRole",
            type: "get",
            data: {
                id: parent.data.id
            },
            success: function (data) {
                var list = data.data.roleVoList;
                $.each(list, function (index, item) {
                    userRole.push(item.id);
                })
                $('#roles').val(userRole);
            }
        })


        formSelects.data('roleSelect', 'server', {
            url: '/store/role/all',
            beforeSuccess: function (id, url, searchVal, result) {
                var data = new Array();
                $.each(result.data.data, function (index, item) {
                    var cur = {};
                    cur.name = item.name;
                    cur.value = item.id;
                    data.push(cur);
                });
                return data;
            },
            success: function (id, url, searchVal, result) {
                formSelects.value('roleSelect', userRole);
            }
        });

        formSelects.on('roleSelect', function (id, vals, val, isAdd, isDisabled) {
            //id:           点击select的id
            //vals:         当前select已选中的值
            //val:          当前select点击的值
            //isAdd:        当前操作选中or取消
            //isDisabled:   当前选项是否是disabled
            var roles = formSelects.value(id, 'val');
            if (roles != userRole) {
                $('#roleChange').val(true);
            } else {
                $('#roleChange').val(false);
            }
            $('#roles').val(roles);
        }, true);

        formSelects.render('roleSelect');


    });
</script>


</html>