<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>企业进销存系统</title>
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <script src="../../layui/layui.all.js"></script>
    <script src="../../module/common.js"></script>
    <link rel="stylesheet" href="../../module/formSelects/formSelects-v4.css"/>
</head>
<body>
<div class="layui-fluid" style="padding: 10px">

    <form class="layui-form" id="add_storehouse">

        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input id="name" type="text" name="name" required="" lay-verify="required" placeholder="请输入类型名称"
                       autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="" class="layui-form-label">父类型</label>
            <input class="layui-hide" id="parentId">
            <div class="layui-input-block">
                <select name="city" xm-select="selectId" xm-select-radio=""></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">叶子节点</label>
            <div class="layui-input-inline">
                <input id="leaf" type="checkbox" name="leaf" lay-skin="switch" lay-text="是|否" value="false"
                       lay-filter="leaf">
            </div>
            <div class="layui-form-mid layui-word-aux">商品只允许设置为叶子节点类型</div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea id="description" name="description" placeholder="请输入类型描述" class="layui-textarea"></textarea>
            </div>
        </div>
        <hr/>
    </form>

</div>
</body>
<script type="text/javascript">
    layui.use(['form', 'formSelects', 'jquery'], function () {
        var form = layui.form;
        var formSelects = layui.formSelects;
        var $ = layui.jquery;

        form.render();

        formSelects.data('selectId', 'server', {
            url: '/store/goodsType/all',
            beforeSuccess: function (id, url, searchVal, result) {
                var data = parseData(result.data.data);
                return data;
            },
            success: function (id, url, searchVal, result) {
                console.log(result);
            }
        });
        formSelects.on('selectId', function (id, vals, val, isAdd, isDisabled) {
            //id:           点击select的id
            //vals:         当前select已选中的值
            //val:          当前select点击的值
            //isAdd:        当前操作选中or取消
            //isDisabled:   当前选项是否是disabled
            console.log(val);
            if (val.leaf) {
                layer.msg("叶子节点类型不允许设置为父类型");
                return false;
            }
            $('#parentId').val(val.value);
            //如果return false, 那么将取消本次操作
            return true;
        });

        formSelects.render('selectId');

        //监听指定开关
        form.on('switch(leaf)', function (data) {
            $('#leaf').val((this.checked ? 'true' : 'false'))
        });

        function parseData(data) {
            var result = new Array();
            $.each(data, function (index, item) {
                var cur = {};
                cur.name = item.name;
                cur.value = item.id;
                cur.children = parseData(item.children);
                cur.leaf = item.leaf;
                console.log(cur);
                result.push(cur);
            });
            return result;
        }
    });



</script>
</html>