<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>企业进销存系统</title>
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <script src="../../layui/layui.all.js"></script>
</head>
<body>
<div class="layui-fluid" style="padding: 10px">

    <form class="layui-form" id="add_storehouse">
        <div class="layui-form-item">
            <label class="layui-form-label" >名称</label>
            <div class="layui-input-block">
                <input id="name" type="text" name="name" required=""  lay-verify="required" placeholder="请输入仓库名称" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >地址</label>
            <div class="layui-input-block">
                <input id="address" type="text" name="address" required=""  lay-verify="required" placeholder="请输入仓库地址" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea id="description" name="description" placeholder="请输入仓库描述" class="layui-textarea"></textarea>
            </div>
        </div>
        <hr/>
    </form>

</div>
</body>

</html>