<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>企业进销存系统</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="layui/layui.all.js"></script>
    <script src="module/layTabPlus/layTabPlus.js"></script>
    <script src="module/common.js"></script>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!-- 头部-->
    <div class="layui-header">
        <div class="layui-logo">企业进销存系统</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="image/index.jpg" class="layui-nav-img">
                    贤心
                </a>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="layTabPlus" tab_url="view/user/self.html">个人中心</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="layTabPlus" tab_url="view/unit/main.html">单位设置</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="layTabPlus" tab_url="view/goods_type/main.html">商品类型设置</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="layTabPlus" tab_url="view/storehouse/main.html">仓库管理</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="layTabPlus" tab_url="view/goods/main.html">商品管理</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="layTabPlus" tab_url="view/stock/main.html">库存</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="layTabPlus" tab_url="view/bill/main.html">出入库</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="layTabPlus" tab_url="view/role/main.html">角色管理</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="layTabPlus" tab_url="view/menu/main.html">菜单管理</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="layTabPlus" tab_url="view/permission/main.html">权限管理</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="layTabPlus" tab_url="view/user/main.html">用户管理</a>
                </li>

            </ul>
        </div>
    </div>

    <!-- 主题   -->
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-tab" lay-filter="demoTab" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li class="layui-this noclose" lay-id='base_info'>基本信息</li>
            </ul>
            <div class="layui-tab-content" style="padding:0px;">
                <div class="layui-tab-item layui-show">
                    欢迎使用进销存系统
                </div>
            </div>
        </div>
    </div>

    <!--  底部    -->
    <div class="layui-footer">
        © 2019 <a>store</a> - by AChan
    </div>

</div>

<script>
    var $ = layui.jquery;
    var layer = layui.layer;
    var element = layui.element;
    var util = layui.util;
    var table = layui.table;

    layTabPlus.init({
        lay_filter: 'demoTab'
    });
</script>
</body>

</html>