<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>企业进销存系统</title>
<head>
    <meta charset="UTF-8">
    <title>企业进销存系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <script src="layui/layui.js" charset="utf-8"></script>
    <script src="jquery-3.4.0.min.js"></script>
    <script src="https://leytton.gitee.io/laytabplus/js/layTabPlus.js"></script>
</head>
<script>
    layTabPlus.init({lay_filter: 'demoTab'});
</script>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">企业进销存系统</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <!--                    <dd><a href="">安全设置</a></dd>-->
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" id="unit" data-url="unit-main.html">单位设置</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">类型设置</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">商品列表</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">角色设置</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;" class="layTabPlus" tab_url="http://www.baidu.com">百度</a>
                </li>
            </ul>
        </div>
    </div>


    <!--  右部主体 -->
    <div class="layui-body layui-form">
        <div class="layui-tab layui-tab-card fsTab" lay-filter="fsTab" lay-allowClose="true">

            <!-- 菜单导航 -->
            <ul class="layui-tab-title" id="fsTabMenu">
                <li class="layui-this" lay-id="111"><i class="layui-icon">&#xe68e;</i><cite>首页</cite>
                    <p class="layui-tab-close" style="display: none;"></p></li>
            </ul>

            <!-- 内容 -->
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show" lay-id="1">
                    <iframe src="views/home/index.html?v=1.7.1"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="layui-body">-->
    <!--        &lt;!&ndash; 内容主体区域 &ndash;&gt;-->
    <!--        &lt;!&ndash;        <div style="padding: 15px;">内容主体区域</div>&ndash;&gt;-->
    <!--        <table class="layui-hide" id="demo" lay-filter="demo"></table>-->
    <!--    </div>-->
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="detailDemo">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" id="name" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="text" id="description" lay-verify="title" autocomplete="off" placeholder="请输入标题"
                   class="layui-input">
        </div>
    </div>
</script>
<script>
    layui.use(['element', 'table'], function () {
        var element = layui.element;
        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(demo)', function (obj) {
            console.log(obj)
        });

        //监听工具条
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                detail(data.id);
                // layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.alert('编辑行：<br>' + JSON.stringify(data))
            }
        });

        //数据获取并渲染
        element.on('nav(test)', function (ele) {

            table.render({
                elem: '#demo'
                , url: 'unit/page'
                , cols: [[ //标题栏
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', width: 250, sort: true, fixed: 'left'}
                    , {field: 'name', title: '名称', width: 250}
                    , {field: 'description', title: '描述', minWidth: 250}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
                ]]
                , toolbar: 'default'
                , defaultToolbar: []
                , limit: 5
                , limits: [2, 5, 10]
                , loading: true
                , request: {
                    pageName: 'pageNum' //页码的参数名称，默认：page
                    , limitName: 'pageSize' //每页数据量的参数名，默认：limit
                },
                parseData: function (res) { //res 即为原始返回的数据
                    return {
                        "code": res.status, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.data.page.total, //解析数据长度
                        "data": res.data.page.list //解析数据列表
                    };
                },
                page: true

            });
        });
    })

</script>
</body>
</html>