<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.achan.dao.PermissionDao">

    <select id="selectByIds" resultType="com.achan.entity.PermissionVo">
        select id, url, name,menu_id,seq, description,url,image,seq
        from menu
        where (id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        or limited = 0)
        and deleted = 0
    </select>
</mapper>