<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.achan.dao.RolePermissionDao">

    <select id="selectByRoleIdList" resultType="java.lang.String">
        select distinct permission_id
        from role_permission
        where role_id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        and deleted = 0
    </select>

</mapper>