<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.achan.dao.UserRoleDao">

    <select id="selectByUser" resultType="java.lang.String">
        select role_id
        from user_role
        where user_id = #{user_id}
        and deleted = 0
    </select>

    <update id="deleteUserRole">
        update user_role
        set deleted = 1
        where user_id = #{user_id}
    </update>

    <insert id="batcnInsert" parameterType="com.achan.entity.base.UserRoleBase">
        insert into user_role (id,user_id,role_id,deleted)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},
            #{item.userId},
            #{item.roleId},
            0)
        </foreach>
    </insert>
</mapper>